
.main__about{
  padding: 70px 0 20px 0;
}
.about__title{
  font-size: 3rem;
  text-align: center;
}
.about__body{
  width: 80vw;
  margin: 20px auto;
}

.about__paragraph{
  margin-bottom: 10px;
  text-align: justify;
}


@media screen and (min-width: 1024px){
  .about__paragraph{
    font-size: 18px;
  }
}