.nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;

  a {
    text-decoration: none;
  }
}

// mobile menu

.nav__mobile-menu-toggle-btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 10px;
  background: hsl(150, 5%, 22%);
  @include flexColumn;
  z-index: 12;

  span {
    height: 3px;
    width: 20px;
    background: #fff;
    display: block;
  };
  span:nth-child(2) {
    margin: 5px 0;
  }
}
.nav__mobile-menu {
  position: fixed;
  top: 0;
  right: -160px;
  @include flexColumn(flex-end);
  height: 220px;
  width: 160px;
  background: hsl(150, 5%, 22%);
  border-bottom-left-radius: 10px;
  padding: 10px 10px;
  z-index: 10;
  transition: transform .3s linear;

  &.nav__mobile-menu--open {
    transform: translateX(-160px);
  }
}

.nav__mobile-menu-btn {
  width: 140px;
  color: #fff;
  font-size: 2rem;
  text-align: center;;
  padding: 8px 15px;
  transition: background-color .3s linear;

  &.active {
    background: hsl(150, 5%, 15%);
  }
}

// dekstop menu

.nav__desktop-menu-bar {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__mobile-menu-toggle-btn {
    display: none;
  }
  .nav__mobile-menu {
    display: none;
  }

  .nav__desktop-menu-bar {
    @include flexRow;
    height: 50px;
    background: hsl(150, 5%, 22%);
    position: relative;
    z-index: 10;
  }
  
  .nav__desktop-menu-btn {
    color: #fff;
    font-size: 2rem;
    padding: 5px 20px;
    border-right: 1px solid #fff;
    transition: background-color .3s linear;
    cursor: pointer;
  
    &:first-child {
      border-left: 1px solid #fff;
    }
    &:hover {
      background: hsl(150, 5%, 15%);
    }
    &.active {
      background: hsl(150, 5%, 15%);
    }
  }
}