
.main__projects{
  padding: 70px 0 20px 0;
}
.projects__title{
  font-size: 34px;
  text-align: center;
}
.projects-body__tile{
  width: 300px;
  height: 395px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  color: #000;
}
.projects-tile__title{
  font-weight: 400;
  font-Size: 20px;
  text-align: center;
}
.projects-tile__image{
  margin: 15px 0;
}
.projects-tile__description{
  height: 30%;
  font-size: 14px;
}
.projects-tile__links{
  display: flex;
  justify-content: space-between;
}
.projects-links__link{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}